div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 23%;
  }
  
  div.gallery:hover {
    border: 2px solid #09ff00;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  div.titulo{
    color: #09ff00
  }
  
img {
  width: 100%;
  height: auto;
}
       