<h1>Detalle de producto</h1>
<table>
    <tr>
        <td>
            <img width="50%" src="https://dojiw2m9tvv09.cloudfront.net/12840/product/mr-clean-liquido6991.jpg?51" alt="Lejia">
        </td>
        <td>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, dolor adipisci! Impedit, eum? Necessitatibus architecto labore sint. Aut iste deleniti sunt quidem doloribus odit, vitae quod nam, pariatur atque fuga.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laboriosam dolor deserunt consequuntur aliquid incidunt dignissimos tempore suscipit tempora maxime? Nam excepturi veritatis facere repellat, eaque illum illo fuga quas?
            </p>
        </td>
    </tr>
</table>
